.field_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#close_button {
    width: 10%;
    background-color: #be4710;
    &:hover {
        background-color: #be471062;
    }
}
